[build]
  publish = "."
  command = "npm run build"

[build.environment]
  SUPABASE_URL = "https://tzbqiqjsugidkzdwgvof.supabase.co"
  SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6YnFpcWpzdWdpZGt6ZHdndm9mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgxMDEyNzAsImV4cCI6MjA4MzY3NzI3MH0.WlcyGQ7-ab9l_AGdfVfGuh-dxtOpVa08BccUTqKnbJQ"


[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200